body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: #e6f2ff;
}

@font-face {
  font-family: 'General Sans';
  src: url('./assets/fonts/GeneralSans-Regular.woff2') format('woff2'),
       url('./assets/fonts/GeneralSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('./assets/fonts/GeneralSans-Bold.woff2') format('woff2'),
       url('./assets/fonts/GeneralSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('./assets/fonts/GeneralSans-Medium.woff2') format('woff2'),
       url('./assets/fonts/GeneralSans-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('./assets/fonts/GeneralSans-Semibold.woff2') format('woff2'),
       url('./assets/fonts/GeneralSans-Semibold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
