.nav-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 200px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    background: #ffffff;
    max-width: 1200px;
    width: 60%;
}


.nav-items-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-items {
    font-family: General Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8C97A8;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
}

.nav-items:hover {
    color: black;
}