.button-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 43.62px;
  padding: 0px 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 40px;
  transition: color 0.2s ease;
}


.button-label {
  font-family: 'General Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  position: relative;
  z-index: 1;
  transition: color 0.2s ease;
}

.Primary {
  background: white;
  border: 1px solid #007AFF;
}

/* Blue sliding layer */
.Primary::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #007AFF;
  transform: translateX(0);
  transition: transform 0.4s ease;
  z-index: 0;
  box-shadow: none;
}

.Primary-label {
  color: #ffffff;
}

.Primary:hover::before {
  transform: translateX(-110%);
}

.Primary:hover {
  box-shadow: 0px 0px 15px 5px #0C0C0D0D;
  border: 1px solid #ffffff;
}


.Primary:hover .Primary-label {
  color: #007AFF;
}

.Primary.no-hover:hover {
  background: #007AFF;
  box-shadow: none;
}

.Primary.no-hover::before,
.Primary.no-hover:hover::before {
  transform: translateX(0);
  box-shadow: none;
}

.Primary.no-hover:hover {
  box-shadow: none;
}

.Primary.no-hover:hover .Primary-label {
  color: #ffffff;
}

.Secondary {
  background: transparent;
  border: 1px solid #6C788F;
}

.Secondary-label {
  color: #1D2026;
}

.Secondary:hover {
  background: #f5f7fa;
}

.Secondary.no-hover:hover {
  background: transparent;
}

.icon {
    height: 22px;
}
.icon-seperator {
    color: #6C788F;
    font-size: 16px;
}
